<div class="form-field form-field--stock">
  <label class="form-label form-label--alternate {{#unless product.out_of_stock}}form-label--stock{{else}}form-label--out-of-stock{{/unless}}">
    {{#if product.out_of_stock}}
      <div class="productView__stock card-stock--outStock">{{lang 'products.cards.out_of_stock'}}</div>
    {{else}}
      {{#if product.stock_level '<=' product.low_stock_level}}
        <div class="productView__stock card-stock--lowStock">{{lang 'products.cards.low_stock' quantity=product.stock_level}}</div>
      {{else}}
        <div class="productView__stock card-stock--inStock">{{lang 'products.cards.in_stock' quantity=product.stock_level}}</div>
      {{/if}}
    {{/if}}
  </label>
</div>