{{#any product.description product.videos.list.length}}
<article class="productView-description" id="productDescription">
    <h2 class="productView-title">{{lang 'products.description'}}</h2>
    {{{region name="product_below_description_title"}}}
    <div {{#if settings.data_tag_enabled}} data-event-type="product" {{/if}}>
        {{{product.description}}}
        {{{snippet 'product_description'}}}
    </div>
    {{{region name="product_below_description_body"}}}

    {{#if product.videos.list.length}}
        <h2 class="productView-title">{{lang 'products.videos.header'}}</h2>
        {{> components/products/videos product.videos}}
    {{/if}}
{{{region name="product_below_videos"}}}
</article>
{{/any}}